*{padding: 0;margin: 0; box-sizing: border-box; font-family: sans-serif;}
.container{height: 100vh;
           width:  100vw;
		   color:  #122;
		   background:linear-gradient(45deg, #010101, #003e5c);
		   text-align: center;
		   }
		   
.love{
      padding-top:25%;
}
.love,.yes, .no, .end{
	padding-top: 25%;
}
.love h2{font-family: 'Reenie Beanie', cursive;font-size: 72px;color:#20B2AA; margin-bottom: 30px;}
.love span {color: #FED8B1;
            font-size: 60px;
			font-family: 'Cutive Mono', monospace;}
.love a{text-decoration: none;
		padding: 15px 30px;
		font-size: 25px;
		text-transform: uppercase;
		overflow:hidden;
		transition: 0.2s;
		display: inline-block;
		color: #2196f3;
		letter-spacing: 4px;
		
		}
.love a:hover{
	color: #255784;
	background:#C5908E;
	box-shadow: 0 0 10px #8DC3C4, 0 0 40px #8DC3C4, 0 0 80px #8DC3C4;
	transition-delay: 0.1s;
}
#no{color:red;}
#yes{color:#8DC3C4;}
#okay{color:#8DC3C4;}
img{height: 40px; width: 40px;
    animation: 2 4s linear infinite
	}
.yes h2{font-family: 'Reenie Beanie', cursive;color:#F8B88B;font-size: 72px; margin-bottom: 30px;}
.yes span {color: #FED8B1;
            font-size: 35px;
			font-family: 'Cormorant Garamond', serif;
			}
.yes a{text-decoration: none;
		padding: 15px 30px;
		font-size: 25px;
		text-transform: uppercase;
		overflow:hidden;
		transition: 0.2s;
		display: inline-block;
		color: #2196f3;
		letter-spacing: 4px;
		
		}
.yes a:hover{
	color: #255784;
	background:#C5908E;
	box-shadow: 0 0 10px #8DC3C4, 0 0 40px #8DC3C4, 0 0 80px #8DC3C4;
	transition-delay: 0.1s;
}
.no h2{font-family: 'Reenie Beanie', cursive;font-size: 72px;color:#20B2AA; margin-bottom: 20px;}
.no span {color: #FED8B1;
            font-size: 60px;
			font-family: 'Cutive Mono', monospace;}
.no a{text-decoration: none;
		padding: 15px 30px;
		font-size: 20px;
		text-transform: uppercase;
		overflow:hidden;
		transition: 0.2s;
		display: inline-block;
		color: #2196f3;
		letter-spacing: 4px;
		
		}
.no a:hover{
	color: #255784;
	background:#C5908E;
	box-shadow: 0 0 10px #8DC3C4, 0 0 40px #8DC3C4, 0 0 80px #8DC3C4;
	transition-delay: 0.1s;
}

.end h2{font-family: 'Cutive Mono', monospace;font-size: 72px;color:#E77471; margin-bottom: 20px;}
.end span {color: #FED8B1;
            font-size: 60px;
			font-family: 'Cutive Mono', monospace;}
.end a{text-decoration: none;
		padding: 15px 30px;
		font-size: 15px;
		text-transform: uppercase;
		overflow:hidden;
		transition: 0.2s;
		display: inline-block;
		color:#FD1C03;
		letter-spacing: 4px;
		
		}
.end a:hover{
	color:   #CA226B;
	background: #E77471;
	box-shadow: 0 0 10px  #22C981, 0 0 40px  #22C981, 0 0 80px  #22C981;
	transition-delay: 0.1s;
}
